.upper-part{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    border:2px dotted red;    
}
.logo-settings {
  width: 225px;
  max-width: 80%;
  height: auto;
}
.participants-part {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  gap: clamp(1rem, 10vw, 6rem);
}
.chat-part{
  display:flex;
  flex-direction: column;
  
  justify-content: center;
  align-items: center;
  width:100%;  
  
}
.chat-part-h-tag{
  width:100%;
  max-width:10ch;
  text-align:center;
  font-weight: 900;
  font-size: clamp(2rem, 8vw, 5rem);;
  line-height: 1;
  color:var(--color-for-black-h);
}
.chat-part-p-tag{
  max-width:36ch;
  
  min-width: 0;
  text-align: center;
  font-size: clamp(0.8rem, 3vw, 1.5rem);;
  color:var(--color-for-grey-p);
  line-height: 1.6;
  font-weight: 700;
  border: 3px solid black;
}
.buttons-part{
  
  display:flex;
  flex-direction: column;
  align-items: center;
  border:1px solid blue;
}
.download-button,
.what-button{
  width: 100%;

  max-width: 280px;

  min-height: 80px;
}
.download-button{
  background-color: var(--color-for-blue-green-button);
}
.download-button-text{
  color:var(--color-for-p-of-blue-green-button);
  font-weight: 600;
  font-size: var(--upper-part-p-size-big);
}
.download-button-second-text{
  padding-left:5px;
  color:var(--second-color-for-p-blue-green-button);
}
.what-button{
  background-color:var(--color-for-violet-button);
}
.what-button-text{
  color:var(--color-for-p-of-violet-button);
  font-weight: 600;
  font-size: var(--upper-part-p-size-big);
}
/*.participants-left{
  justify-self:start;
}
.participants-right{
 justify-self:end;
}
*/


@media (min-width: 768px) {
  .logo-settings {
    width: 150px;
  }
  .buttons-part{
    flex-direction: row;
  }
}
@media (min-width: 1000px) {
  
 .upper-part{
       
    display:grid;
    
    grid-template-columns:1fr 1fr 1fr;
}
.logo-settings {
    width: 80px;
    grid-column:1/4;
    justify-self: center;
  }
  .participants-part{
    display:contents;
  }
.participants_left{
  grid-column: 1/2;
  grid-row:2/3;
  justify-self: center;
}
.participants_right{
  grid-column:3/4;
  grid-row:2/3;
  justify-self: center;
}
  .chat-part{
  grid-column: 2/3;
  grid-row:2/3;
  text-align:center;
  width:400px;
 }
 .download-button-text,.what-button-text{
  font-size: var(--upper-part-p-size-small);
}
.download-button,.what-button{
  min-width: 130px;
  min-height:45px;
}
.chat-part-p-tag{
  font-size:var(--upper-part-p-size-small);
}
.chat-part-h-tag{
  font-size:var(--upper-part-h-size-small);
}
}
