.middle-part{
    width:100%;
    padding-inline: clamp(1rem, 5vw, 3rem);
    padding-bottom:25%;
    display:flex;
    flex-direction: column;
    gap:var(--middle-part-vertical-gap);
    align-items: center;
    box-sizing:border-box; /* wichtig */
    border:2px dotted red;    
    position: relative;
    z-index:1;
}
.foto-part{
    display:grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    gap: clamp(0.5rem, 4vw, 2rem);
    width:100%;
    border:1px solid white;
}
.foto-part img{
    width:100%;
    height:auto;
    display:block;

}
.middle-part-h1{
    color:var(--color-for-h1-of-middle-part);
    font-weight: 900;
    font-size:var(--middle-part-h1-size-big);
    letter-spacing:5px;
    word-spacing:10px;
    max-width: 100%;
    text-align: center;
}
.middle-part-h2{
    font-weight: 900;
    font-size:var(--middle-part-h2-size-big);
    max-width: 14ch;
    text-align: center;
    color:var(--color-for-black-h);
    line-height:1;
}
.middle-part-p-tag{
     max-width:36ch;
  text-align: center;
  font-size: var(--upper-part-p-size-big);
  color:var(--color-for-grey-p);
  line-height: 1.6;
  font-weight: 700;
}
.middle-part .line-circle-container{
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    z-index:10;
    bottom:0;
    transform: translate(-50%,15%);
}
.middle-part .circle{
    background-color: var(--body-background-color);
}
@media(min-width:768px){
    .foto-part{
        grid-template-columns: repeat(4, 1fr);
    }
}