.upper-part{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    border:2px dotted red;    
}
.logo-settings {
  width: 225px;
  height: auto;
}
/*.big-container{
  padding:0;
  margin:0;
  
}*/
.participants-part{
       
    display:grid;
    /*grid-template-columns:auto 1fr auto;*/
    grid-template-columns:1fr 2fr 1fr;
}
.participants_left{
  grid-column: 1/2;
  justify-self: start;
}
.participants_right{
  grid-column:3/4;
  justify-self: end;
}
.chat-part{
  display:flex;
  flex-direction: column;
  
  justify-content: center;
  align-items: center;
  width:100%;  
  
}
.chat-part-h-tag{
  width:100%;
  max-width:10ch;
  text-align:center;
  font-weight: 900;
  font-size: clamp(2rem, 8vw, 5rem);;
  line-height: 1;
  color:var(--color-for-black-h);
}
.chat-part-p-tag{
  max-width:36ch;
  
  min-width: 0;
  text-align: center;
  font-size: clamp(0.8rem, 3vw, 1.5rem);;
  color:var(--color-for-grey-p);
  line-height: 1.6;
  font-weight: 700;
  border: 3px solid black;
}
.buttons-part{
  
  display:flex;
  flex-direction: column;
  align-items: center;
  border:1px solid blue;
}
/*.download-button,.what-button{
  min-width: 280px;
  min-height:80px;
}*/
.download-button,
.what-button{
  width: 100%;

  max-width: 280px;

  min-height: 80px;
}
.download-button{
  background-color: var(--color-for-blue-green-button);
}
.download-button-text{
  color:var(--color-for-p-of-blue-green-button);
  font-weight: 600;
  font-size: var(--upper-part-p-size-big);
}
.download-button-second-text{
  padding-left:5px;
  color:var(--second-color-for-p-blue-green-button);
}
.what-button{
  background-color:var(--color-for-violet-button);
}
.what-button-text{
  color:var(--color-for-p-of-violet-button);
  font-weight: 600;
  font-size: var(--upper-part-p-size-big);
}
.line-circle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line {
  width: 2px;
  height: 150px;

  background-color: var(--color-of-line-and-circle);
}

.circle {
  width: 60px;
  height: 60px;

  border: 2px solid var(--color-of-line-and-circle);
  border-radius: 50%;

  display:flex;
  align-items: center;
  justify-content: center;
}
.circle-text{
  color:var(--color-for-grey-p);
  font-weight: 900;
  
}
@media (min-width: 768px) {
  .logo-settings {
    width: 150px;
  }
  .buttons-part{
    flex-direction: row;
  }
  .download-button,.what-button{
  min-width: 200px;
  min-height:55px;
}
.download-button-text,.what-button-text{
  font-size: var(--upper-part-p-size-middle);
}


}

@media (min-width: 1200px) {
  .logo-settings {
    width: 80px;
  }
}
@media(min-width:1000px){
 .chat-part{
  grid-column: 2/3;
  grid-row:1/2;
 }
 
  .download-button,.what-button{
  min-width: 130px;
  min-height:45px;
}
.download-button-text,.what-button-text{
  font-size: var(--upper-part-p-size-small);
} 
}